.navbarre {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: space-between;
}

.btnnav{
    display: flex;
    justify-content: center;
    align-items: center;

}

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 178);
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgb(9, 9, 70);
    color: grey;
    justify-content: center;
    align-items: center;
}