.navbarre {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: space-between;
}

.btnnav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 178);
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    &:hover {
        background-color: rgb(241, 74, 74);
    }
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    background-color: lightgrey;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-right: 0;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 300px;
    font-size: 20px;
    background-size: cover;
    width: 70%;
}

.text3 {
 display: flex;
 justify-content: center;
 width: 80%;
 padding: 100px 300px;
}

.text4 {
    display: flex;
    flex-direction: column;
    color: rgb(174, 141, 57);
    align-items: center;
    padding: 100px 300px;
    font-size: 34px;
    background-size: cover;
    width: 70%;
}

.textEvenements {
    display: flex;
    flex-direction: column;
    padding: 90px 200px;
    align-items: center;
    font-size: 20px;
    width: 70%;
    
}
.image-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-list img {
    max-width: 70%;
}

.logo {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    padding-top: 2rem;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgb(9, 9, 70);
    color: grey;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .navbarre {
        flex-direction: column;
        height: auto; 
    }
    .logonav {
        display: none;
    }
    .btnnav {
        flex-direction: column;
        justify-content: flex-start;
    }
    .text1, .text4, .textEvenements {
        padding: 50px;
        font-size: 16px;
    }
    .text3 {
        padding: 20px 20px;
        width: 100%;
    }
    .image-list {
        width: 100%;
    }
    .aside {
        display: none;
    }
    .picchampionnat {
        max-width: 100%;
    }
    
    .logo {
        padding-top: 1rem;
        font-size: 0.5rem;
    }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navbarre {
        display: flex;
        flex-direction: row;
        height: auto; 
    }
    .logonav {
        display: none;
    }
    .btnnav {
        flex-direction: row;
        justify-content: flex-start;
    }
    .text1, .text4, .textEvenements {
        padding: 50px 80px;
        font-size: 16px;
    }
    .text3 {
        padding: 20px 20px;
    }
    .image-list {
        width: 90%;
    }
    .aside {
        display: none;
    }
    
    .picchampionnat {
        max-width: 100%;
    }
    .text3 {
        max-width: max-content;
    }
    .logo {
        padding-top: 0.5rem auto;
        font-size: 0.5rem;
        width: 100%;
    }
}
