.navbarre {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: space-between;
}

.btnnav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 178);
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}

.main {
    display: flex;
    background-color: lightgrey;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.text1 {
    padding: 100px 300px;
    font-size: 24px;
    background-size: cover;
    width: 70%;
}

.text2 {
    display: flex;
    flex-direction: column;
    color: rgb(137, 137, 48);
    align-items: center;
    padding: 100px 300px;
    font-size: 44px;
    background-size: cover;
    width: 70%;
}

.logo {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    padding-top: 5rem;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgb(9, 9, 70);
    color: grey;
    justify-content: center;
    align-items: center;
}